<!-- BEGIN: AD CODE for head of index.html (assume jquery is on the page -->
<script src="{{ COPY.content.project_url }}/js/LEE-vendor-begin.js"></script>

<script>
LEE.vendor.page_type=['app-graphics','index'];
LEE.vendor.page_keywords=[{%if restaurant%}'{{restaurant.slug}}'{%else%}'top100','index'{%endif%}];
</script>

<!-- BEGIN Krux Control -->
<script class="kxct" data-id="Jac3W00y" data-timing="async" data-version="1.9" type="text/javascript">
window.Krux||((Krux=function(){Krux.q.push(arguments)}).q=[]);(function(){var k=document.createElement('script');
k.type='text/javascript';k.async=true;var m,src=(m=location.href.match(/\bkxsrc=([^&]+)/))&&decodeURIComponent(m[1]);
k.src=/^https?:\/\/([a-z0-9_\-\.]+\.)?krxd\.net(:\d{1,5})?\//i.test(src) ? src : src === "disable" ? "" :
(location.protocol === "https:" ? "https:" : "http:") + "//cdn.krxd.net/controltag?confid=Jac3W00y";
var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(k,s);}());
</script>
<!-- END Krux Control -->

<script src="{{ COPY.content.project_url }}/js/LEE-vendor-end.js"></script>
<!-- END: AD CODE -->
