<!DOCTYPE html>
<!--[if lte IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- META TAGS -->
    {% include '_meta.html' %}
    {% block error_meta %}{% endblock error_meta %}


    <title>{% block restaurant_title %}{% endblock restaurant_title %}{{ COPY.content.project_name }}</title>

    <!-- SOCIAL TAGS -->
    {% include '_social_tags.html' %}

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {{ CSS.push('less/framework.less') }}
    {{ CSS.render('css/app.min.css') }}
    {% block restaurant_css %}{% endblock restaurant_css %}
    

    <!-- SCRIPTS -->
    {% include '_scripts.html' %}
    {% block restaurant_scripts %}{% endblock restaurant_scripts %}


    <!-- ADS -->
    {% include '_ads.html' %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body class="prettify">
    {% include '_google_tag_manager.html' %}

    {% block outer_content %}

    <div class="navbar">
        {#<a href="{{ COPY.content.project_url }}" target="_parent">#}
        <a href="/" target="_parent">
            <div class="title">
                <img src="{{ COPY.content.project_url }}/img/stltoday-logo-transparent-on-white.png" />
                <span>Ian Froeb's STL <i class="num">100</i></span>
            </div>
        </a>
        <div class="social-buttons">
            <a class="facebook popup" href="http://www.facebook.com/share.php?u={{COPY.share.share_url}}">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="twitter popup" href="http://twitter.com/share?text=.@stltoday%20presents%20@ianfroeb's%20%23stl100:%20The%20100%20best%20restaurants%20in%20St.%20Louis%20right%20now%20-&url={{COPY.share.share_url}}">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="email" href="mailto:?subject=Ian Froeb's STL 100&body={{COPY.share.share_url}}">
                <i class="fa fa-envelope"></i>
            </a>
            {#<a class="mobile-search" href="{{ COPY.content.project_url }}/search.html" target="_parent">#}
            <a class="mobile-search" href="search.html" target="_parent">
               <i class="fa fa-search"></i>
            </a>
        </div>
        {#<a href="{{ COPY.content.project_url }}/search.html" target="_parent">#}
        <a href="search.html" target="_parent">
            <div class="search"><i class="fa fa-search"></i><span> Custom search</span></div>
        </a>
    </div>

    <div id="content" class="container {%if restaurant%}{{pagetype}}{%else%}home{%endif%}">
        {% block content %}
        {% endblock content %}

        {#
        {% block wide_content %}
        {% endblock wide_content %}
        #}

        <footer>
            <div class="credits">
                <h6>Credits</h6>
                <p><b>Editing:</b> Ian Froeb, Gabe Hartwig, Jody Mitori, Bob Rose</p>
                <p><b>Photo editing:</b> Hillary Levin</p>
                <p><b>Development:</b> Josh Renaud</p>
                <p class="published">Published {{COPY.content.publish_date}}</p>
            </div>
            <div class="logo">
                <a href="http://www.stltoday.com" data-action="Click Logo"><img src="{{ COPY.content.project_url }}/img/banner.png" alt="Post-Dispatch Logo">
                </a>
            </div>
            <div class="copyright">
                <p>&copy; <a href="http://stltoday.com/help/copyright" target="_blank">Copyright</a> 2015, <a href="http://stltoday.com">stltoday.com</a>
                </p>
                <p>900 N. Tucker Blvd. St. Louis, MO</p>
            </div>
        </footer>
    </div> <!--#content -->

    {% endblock outer_content %}


    {#
    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/console.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {{ JS.push('js/lib/plugins.js') }}
    #}

    {{ JS.push('js/app.js') }}
    {{ JS.push('js/plugins.js') }}

    {% block extra_foot_js %}{% endblock extra_foot_js %}

    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot %}
    {% endblock extra_foot %}

    {% include '_ads_footer.html' %}

</body>
</html>
