{% extends '_base.html' %}

{% block header_content %}
{% endblock header_content %}


{% block content %}
        <section id="hero" class="hero">
        </section>

        <div id="heroText">
            {{COPY.content.intro}}
        </div>

        <section id="top25" class="section group">
        {% for row in COPY.restaurants %}
            {# The following logic sets the right ID for any ad to be inserted #}
            {% if loop.index == 5  %}
                {% set leaderboard = '01' %}
            {% elif loop.index == 12  %}
                {% set leaderboard = '02' %}
            {% elif loop.index == 19  %}
                {% set leaderboard = '03' %}
            {% else %}
                {% set leaderboard = '' %}
            {% endif %}


            {% if loop.index <= 25 %}
            <a href="restaurants/{{row.slug}}/" target="_parent">
                <div class="col wide">
                    <img src="{{ COPY.content.project_url }}/img/lq-ip.jpg" data-srcset="{{ COPY.content.project_url }}/restaurants/{{row.slug}}/large1.jpg 1100w, {{ COPY.content.project_url }}/restaurants/{{row.slug}}/medium1.jpg 640w, {{ COPY.content.project_url }}/restaurants/{{row.slug}}/small1.jpg 414w" />
                    <div class="badge">
                        <sup>#</sup>{{loop.index}}
                    </div>
                    <div class="name-background"></div>
                    <h2>{{row.name}}</h2>
                </div>
            </a>
            {% endif %}
            {% if loop.index == 5 or loop.index == 12 or loop.index == 19  %}

            <div id="gfp-ad-leaderboardtop_slot_{{leaderboard}}" class="home-advert">
                <script>LEE.vendor.ad_display('leaderboardtop_slot_{{leaderboard}}',[728,90],'leaderboardtop_slot,atf',LEE.vendor.ad_mappings);</script>
            </div>
            {% endif %}
        {% endfor %}
        </section>

        <section id="bottom75" class="section group">

            <h2>The Rest of the Best</h2>
            <i>in alphabetical order</i>

        {# Rows of three. This requires special looping #}
        {% for row in COPY.restaurants %}
            {# The following logic sets the right ID for any ad to be inserted #}
            {% if loop.index == 43  %}
                {% set leaderboard = '04' %}
            {% elif loop.index == 61  %}
                {% set leaderboard = '05' %}
            {% elif loop.index ==  79 %}
                {% set leaderboard = '06' %}
            {% else %}
                {% set leaderboard = '' %}
            {% endif %}

            {% if loop.index > 25 %}
            <a href="restaurants/{{row.slug}}/" target="_parent">
                <div class="col grid">
                    <img src="{{ COPY.content.project_url }}/img/lq-ip.jpg" data-srcset="{{ COPY.content.project_url }}/restaurants/{{row.slug}}/medium1.jpg 640w, {{ COPY.content.project_url }}/restaurants/{{row.slug}}/small1.jpg 414w" />
                    <h3>{{row.name}}</h3>
                </div>
            </a>
            {% endif %}
            {% if loop.index == 43 or loop.index == 61 or loop.index == 79  %}
            <div id="gfp-ad-leaderboardtop_slot_{{leaderboard}}" class="home-advert">
                <script>LEE.vendor.ad_display('leaderboardtop_slot_{{leaderboard}}',[728,90],'leaderboardtop_slot,atf',LEE.vendor.ad_mappings);</script>
            </div>
            {% endif %}
        {% endfor %}
        </section>

        <section id="footnote" class="section">
            {{ COPY.content.footnote }}
        </section>

{% endblock content %}


{% block wide_content %}
{% endblock wide_content %}

